footer{
    height: 30%;
}

footer section{
    background-image: linear-gradient(to right, var(--azul-oscuro), var(--celeste));
    height: 20vh;
    width: 100%;
}

.barra_inferior i{
    color: var(--blanco);
    padding: 1%;
}

.barra_inferior i:first-child{
    margin-left: 5%;
}