header div{
    height: 10vh;
    background-image: url("/assets/media/imagenes/LOGO-IMAGEN.jpg");
    background-size: 10vh;
    background-repeat: no-repeat;
}
nav a{
    text-decoration:none;
    color: inherit;
    font-size:14px;
  }
  
  nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
  }
  
  nav li:hover{
    background-color:#fff;
    color:#000;
  }
  
  
  h1 {
      font-weight: bold;
      color: red;
      font-size:4vw;
  }

  body { background-image: url(/assets/media/imagenes/FONDO4.jpg) }
