header nav{
    /*background-color: var(--blanco);*/
    height: 20vh;
    font-style: "Courier New";
    text-align: right;
    /*padding-right:2vh*/
    background-image: url("/assets/media/imagenes/Logo.jpg");
    background-size: 20vh;
    background-repeat: no-repeat;
    background-position-y: center;
    
}
header nav a{
    text-decoration:none;
    color: inherit;
    font: size 16px;
    display: inline-block;
    padding: 2%;
    background-color: var(--azul-oscuro);
    height: 5vh;
    color: white; 
  }
  
  
header nav a:hover{
    background-color: var(--celeste);
    color: white;
  }
  
  
h1 {
  font-weight: bold;
  color: red;
  font-size:4vw;
  }
